* Homework 5|Part 2
* pp 212-220 Exercises 1-27 odd
* Problem Numbers mention in each cell

In [1]:
#1
# Describe the out put of the examples.

def main():
    continents = extractField("UN.txt",2)
    displayElements(continents)
    
def extractField(filename, n):
    # Extract the nth feild
    infile = open(filename, "r")
    return(record.rstrip().split(",")[n-1] for record in infile)
def displayElements(setname):
    for elements in sorted(setname):
        print(elements)

main()

# if we would like to extract the columns from the csv file.
# another simple method by using pandas in python

In [2]:
import pandas as pd
data = pd.read_csv("UN.txt")
data.head()

           Afghanistan           Asia    31.8    251772
0              Albania         Europe   3.000   11100.0
1              Algeria         Africa  38.300  919595.0
2              Andorra         Europe   0.085     181.0
3               Angola         Africa  19.100  481354.0
4  Antigua and Barbuda  North America   0.091     108.0

In [3]:
# Here we can see the particuler column with values.
data.Asia

0                 Europe
1                 Africa
2                 Europe
3                 Africa
4          North America
5          South America
6                   Asia
7      Australia/Oceania
8                 Europe
9                   Asia
10         North America
11                  Asia
12                  Asia
13         North America
14                Europe
15                Europe
16         North America
17                Africa
18                  Asia
19         South America
20                Europe
21                Africa
22         South America
23                  Asia
24                Europe
25                Africa
26                Africa
27                  Asia
28                Africa
29         North America
             ...
162        South America
163               Africa
164               Europe
165               Europe
166                 Asia
167                 Asia
168                 Asia
169               Europe
170                 Asia
171               Africa
172    Australia/Oceania
173        North America
174               Africa
175                 Asia
176                 Asia
177    Australia/Oceania
178               Africa
179               Europe
180                 Asia
181               Europe
182               Africa
183        North America
184        South America
185                 Asia
186    Australia/Oceania
187        South America
188                 Asia
189                 Asia
190               Africa
191               Africa
Name: Asia, dtype: object

In [4]:
# 3
infile = open("UN.txt","r")
outfile = open("New_file.txt","w")
for line in infile:
    data = line.split(",")
    country = data[0]
    continent = data[1]
    area =data[3]
    outfile.write(country + "," + continent + ",")

In [5]:
# we can see the output 
data[0]

'Zimbabwe'

In [6]:
# 5
# Describe the file created by the programe
def main():
    countries = PlaceDataIntoList("UN.txt")
    countries.sort(key = bypop, reversed = True)
    createFile(countries)

def PlaceDataIntoList(filename):
    countries = []
    infile = open(filename, "r")
    for line in infile:
        line = line.split(",")
        if line[1] == "Europe":
            countries.append(list(line[0],eval(line[2])))
    infile.close() 
    return countries

def bypop(country):
    return country[1]

def createFile(countries):
    outfile = open("Europebypop.txt","w")
    for country in countries:
        outfile.write(country[0] + "," +str(country[1]) + "\n")
        outfile.close()

In [7]:
# in output file we are appending the extracted column from the input file

In [8]:
# 7
# I will used the different method to calculate the and processes the file
# display the 28 stocks from the file(sort)
data = pd.read_csv("DOW.txt")
print(data.AXP.sort)

<bound method Series.sort of 0       BA
1      CAT
2     CSCO
3      CVX
4       DD
5      DIS
6       GE
7       GS
8       HD
9      IBM
10    INTC
11     JNJ
12     JPM
13      KO
14     MCD
15     MMM
16     MRK
17    MSFT
18     NKE
19     PFE
20      PG
21       T
22     TRV
23     UNH
24     UTX
25      VZ
26       V
27     WMT
28     XOM
Name: AXP, dtype: object>

In [9]:
# to calculate the portfolio we dont the header files name
def main():
    symbol = input("Enter a symbol:")
    infile = open("DOW.txt", "r")
    for line in infile:
        data = line.split(",")
        if data[1] == symbol:
            print("Company name",data[0]) 
            print("Stock Name", data[1])
            print("Exchange", data[2])
            print("Growth rate", data[7])

In [10]:
#CSCO
# output
main()

Enter a symbol:CSCO
Company name Cisco Systems
Stock Name CSCO
Exchange NASDAQ
Growth rate 0.72

In [11]:
# 9

In [12]:
# 11
def main():
    symbol = input("Enter a President:")
    infile = open("Justices.txt", "r")
    for line in infile:
        data = line.split(",")
        if data[2] == symbol:
            print("Justice Appointed :",data[0])

In [13]:
main()

Enter a President:George W. Bush
Justice Appointed : Samuel
Justice Appointed : John

In [14]:
# 13
import operator
def main():
    symbol = input("Enter a President:")
    infile = open("Justices.txt", "r")
    infile = sorted(infile,key = lambda x: x[4], reverse =False)
    for line in infile:
        data = line.split(",")
        if data[2] == symbol:
            print("Justice Appointed :",data[0])
            print("The year they appointed",data[4])

In [15]:
# George W. Bush
main()

Enter a President:George W. Bush
Justice Appointed : John
The year they appointed 2005
Justice Appointed : Samuel
The year they appointed 2006

In [16]:
# Above example we can see the Justice appointed by the Year order.

In [17]:
# without sorted 
def main():
    symbol = input("Enter a President:")
    infile = open("Justices.txt", "r")
    infile = sorted(infile,key = lambda x: x[4], reverse =True)
    for line in infile:
        data = line.split(",")
        if data[2] == symbol:
            print("Justice Appointed :",data[0])
            print("The year they appointed",data[4])

In [18]:
# George W. Bush
main()

Enter a President:George W. Bush
Justice Appointed : Samuel
The year they appointed 2006
Justice Appointed : John
The year they appointed 2005

# With out sorted output

In [19]:
# 15
# all records 
data = pd.read_csv("Gifts.txt")
data

     1 partridge in a pear tree   207.68
0    2             turtle doves    62.50
1    3              French hens    60.50
2    4            calling birds   149.99
3    5               gold rings   150.00
4    6           geese-a-laying    60.00
5    7         swans-a-swimming  1000.00
6    8          maids-a-milking     7.25
7    9           ladies dancing   839.20
8   10          lords-a-leaping   534.82
9   11            pipers piping   239.56
10  12        drummers drumming   237.88

In [20]:
def main():
    symbol = input("Enter an Number 1 to 12:")
    infile = open("Gifts.txt", "r")
    for line in infile:
        data = line.split(",")
        if data[0] == symbol:
            print("Cost :",data[2])

In [21]:
# we can verify with above dataframe
main()

Enter an Number 1 to 12:4
Cost : 149.99

In [30]:
# 17

def main():
    symbol = input("Enter a College ID:")
    infile = open("Colleges.txt", "r")
    infile = sorted(infile,key = lambda x: x[2], reverse =False)
    for line in infile:
        data = line.split(",")
        if data[1] == symbol:
            print("University Name :",data[0])
            print("Year the University founded :",data[2])

In [32]:
main()

Enter a College ID:PA
University Name : Washington & Jefferson
Year the University founded : 1781

University Name : Moravian College
Year the University founded : 1742

University Name : University of Pennsylvania
Year the University founded : 1740

University Name : University of Pittsburgh
Year the University founded : 1787

University Name : Dickinson College
Year the University founded : 1773

In [35]:
# 19
def main():
    symbol = input("Enter a state:")
    infile = open("StatesANC.txt", "r")
    infile = sorted(infile,key = lambda x: x[2], reverse =False)
    for line in infile:
        data = line.split(",")
        if data[0] == symbol:
            print("State capital Abbr :",data[1])
            print("state Capital :",data[3])

In [36]:
main()

Enter a state:Florida
State capital Abbr : FL
state Capital : Tallahassee

In [43]:
# 21 
def main():
    symbol = input("Enter a Genre:")
    infile = open("Oscars.txt", "r")
    for line in infile:
        data = line.split(",")
        if data[1] == symbol:
            print("The academey Award winnere are :",data[0])

# the output show the error in unicode UTF8, problem with encoding the file. need to check the file.
main()

In [50]:
# 23
# Display the prices
data = pd.read_csv("Cowboy.txt")
data

      Colt Peacemaker  12.20
0             Holster   2.00
1  Levi Strauss jeans   1.35
2              Saddle  40.00
3             Stetson  10.00

In [ ]:
# 25 and 27